---
import "../styles/style.css";
import "../styles/menu.css";
import Hero from "../components/Hero.astro"
import Infosection from "../components/Infosection.astro"
import Citatsection from "../components/Citatsection.astro"
import Formsection from "../components/Formsection.astro"
import Faqsection from "../components/Faqsection.astro"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="da">
    <head>
		<meta name="robots" content="noindex, nofollow">
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Pårørende Netværket</title>
    <link rel="stylesheet" href="style.css" />

    </head>
    <body>
		<Hero/>

	<main>
			<Infosection/>
			<Citatsection/>
			<Formsection/>
			<Faqsection/>
		
			




	
	</main>
	<footer>
		<Footer/>
	</footer>
      
    </body>
    
</html>
