---
import Citat from "./Citater.astro";
---

<div>
  <Citat p="Ciiiitat" />
</div>
<style>
  div {
    background-color: var(--accent2);
    height: 42.5rem;
    margin: 0;
  }
  @media (min-width: 600px) {
    div {
    }
    main {
      margin: 0rem;
    }
  }
</style>
