---
const p = Astro.props.p;
---

<div>
  <img src="quote.svg" alt="gåseøjne" />
  <p>{p}</p>
</div>

<style>
  div {
    width: 200px; /* Justér størrelsen efter behov */
    height: 200px;
    background-color: var(--secondary); /* Brug en farve fra dine variabler */
    border-radius: 50%; /* Gør den rund */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  p {
    color: var(--primary);
    font-family: var(--h3p);
    font-size: 16px;
  }
  img {
    width: 15%;
    position: absolute;
    top: 15%;
    left: 15%;
  }
</style>
