---
import FaqItem from "./FaqItem.astro";
---

<section>
  <FaqItem title="Hvilken erfaring kræver det at være frivillig?" text="Du behøver ikke nødvendigvis at have en formel uddannelse, men det er en fordel, hvis du har erfaring fra social- og sundhedsområdet, som terapeut, tidligere pårørende eller misbrugsramt, eller hvis du har arbejdet som misbrugskonsulent." />
  <FaqItem title="Hvor meget tid skal jeg bruge på at være frivillig?" text="Som rådgiver har du et fleksibelt skema, som du selv er med til at tilrettelægge." />
  <FaqItem title="Hvor kan jeg være frivillig?" text="Du kan være frivillig uanset, hvor i landet du bor, da alle tilbud er landsdækkende, og den interne kommunikation foregår online." />
  <FaqItem title="Hvor gammel skal man være?" text="For at være frivillig rådgiver i Pårørende Netværket, skal du være fyldt 18 år." />
</section>
