---
---


<button class="tilmeld_knap">
  TILMELD <span class="pil"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg></span>
</button>


<style>
.tilmeld_knap {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #61C6BB; 
  color: #082C44; 
  border: none;
  padding: 12px 40px;
  border-radius: 13px; 
  display: flex;
  align-items: center;
  gap: 18px; 
  cursor: pointer;
  outline: none;
}
.tilmeld_knap:hover {
  background-color: #61c6ba94; 
  }
</style>