---
import Formstep from "./Formstep.astro"
---


 <div class="frivillig">
    <Formstep header="1"/>
    <h2>BLIV FRIVILLIG</h2>
      <p>Tag vores 
    <a href="https://raadgiverportalen.dk/" class="kursus_knap">ONLINE KURSUS</a> 
    og ansøg herefter om en stilling som frivillig rådgiver hos Pårørende Netværk Misbrugsportalen.
      </p>
      <img src="kram.webp" alt="kram illutration">
</div>


   <style>
    .frivillig {
        padding: 2rem;
    }
    .frivillig img {
        padding-top: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        position: relative;
    }
    .frivillig h2 {
        padding-top: 7rem;
    }
    .kursus_knap {
    display: inline-block;
    text-decoration: underline;
    background-color: #fde48a; 
    color: #082C44; 
    padding: 4px 10px; 
    border-radius: 17px; 
    font-size: 0.9em; 
    }
    .kursus_knap:hover {
    background-color: #fde48aa7; 
    }
    </style> 