---
import Navigation from "./Navigation.astro"
---

	<header>
		      <div class="logo">
            <a href="">
                <img src="" alt="logo">

            </a>
        </div>
      <Navigation />
 
	</header>