---
import Navigation from "./Navigation.astro";
import Heropic from "./Heropic.astro";
---

<header>
  <div class="logo">
    <a href="">
      <img src="" alt="logo" />
    </a>
  </div>
  <Navigation />
</header>
<Heropic />
<style>
  header {
    background-color: var(--secondary);
  }
</style>
