---
import Textbox from "../components/Textbox.astro"
---



<Textbox header="BLIV FRIVILLIG RÅDGIVER!" text="GØR EN FORSKEL FOR PÅRØRENDE TIL MISBRUGSRAMTE">
        <p>Vil du være med til at skabe meningsfuld forandring? Pårørende Netværket Misbrugsportalen søger engagerede frivillige rådgivere, der vil støtte pårørende til mennesker med misbrugsproblematikker uanset om det drejer sig om alkohol-, stof- eller medicinmisbrug.</p>
                <p >Brug din erfaring til at hjælpe andre. Har du selv erfaring som tidligere misbrugsramt eller pårørende? Din forståelse kan gøre en stor forskel for andre. Vores frivillige tilbyder samtalestøtte via vores akuttelefon, i telefoniske forløb og som gruppeledere i online samtalegrupper.</p>
<p >Bliv en del af et stærkt fællesskab. Som frivillig får du en grundig oplæring og en mentor, der klæder dig på til rollen. Du bliver en del af et fagligt og støttende netværk af social- og sundhedsfaglige, terapeuter, tidligere pårørende og misbrugskonsulenter.</p>
            </Textbox>


<Textbox header="LANDET OVER " text="FRA SJÆLLAND TIL JYLLAND."/>

<Textbox header="FAGLIGT FÆLLESSKAB" text="GODE GRUNDE TIL AT TILMELDE DIG NÆSTE INTROMØDE"/>




<style>

 p{
    padding-top: 1rem;
    font-family: var( --h3p);
    font-size: var( --pmsize);

}
</style>