---
const header = Astro.props.header;
const text = Astro.props.text;
---

<section class="text_box_info">
    <h2>{header}</h2>
    <h3>{text}</h3>
    <slot />
</section>



<style>

h2{
    font-family: var( --h1h2font);
   font-size: var(--h2msize); 
   
}

h3{
    font-family: var( --h1h2font);
    font-size: var(--h3msize);
    padding-top: 1rem;
}

.text_box_info{
    padding: 2rem;
}



</style>